@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

.ToggleGroup {
  display: inline-flex;
}

.ToggleGroupItem {
  height: 35px;
  width: 35px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  user-select: none;
  border-radius: 8px;
  font-weight: bold;
  color: #aeaeb2;
  margin: 0 2px;
}

.ToggleGroupItem:hover {
  border-radius: 8px;
  color: rgb(71, 71, 71);
  cursor: pointer;
}
.ToggleGroupItem[data-state="on"] {
  background-color: #f97316;
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 0 4px rgba(249, 115, 22, 0.25);
}
.ToggleGroupItem:focus {
  position: relative;
  box-shadow: 0 0 0 4px rgba(249, 115, 22, 0.25);
  border: 1px solid #f97316;
  border-radius: 8px;
}

.ToggleGroupItem[data-state="off"]:not([data-disabled]) {
  pointer-events: auto;
}

.ToggleGroupItem[data-state="on"] {
  background-color: #f97316 !important;
  color: white !important;
  border-color: #f97316 !important;
}
